<h1>Add a new contact</h1>
<%if @notice %>
  <ul>
    <%@notice.each do |error|%>
      <li><%=error%></li>
    <%end%>
  </ul>
<%end%>
<%= form_for @contact, url: "/contacts/create", html: { multipart: true } do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :avatar %>
    <%= f.file_field :avatar %>
  </div>

  <div>
    <%= f.label :address %>
    <%= f.text_area :address %>
  </div>

  <div>
    <%= f.label :phone %>
    <%= f.text_field :phone %>
  </div>

  <div>
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>

  <%= f.submit "add contact" %>

<% end %>
