<h3><%=@product.title%></h3>
<small><%=@product.deadline%></small>
<p><%=@product.description%></p>
<ul>
  <%@product.bids.each do |bid|%>
    <li><%=bid.amount%>$ by <%=bid.user_name%></li>
  <%end%>
</ul>

<%= link_to("bid", new_user_product_bid_path(@user, @product, @bid)) %>
<%= link_to("edit", edit_user_product_path(@user, @product)) %>
<%= link_to("delete", user_product_path(@user, @product), method: :delete, data: {confirm: 'Are you sure?'}) %>
