<% if flash[:notice] %>
  <%= flash[:notice] %>
<% end %>
<h3><%=@product.title%></h3>
<small><%=@product.deadline%></small>
<p><%=@product.description%></p>
<ul>
  <%@product.bids.each do |bid|%>
    <li><%=bid.amount%>$ by <%=bid.user_name%></li>
  <%end%>
</ul>

<%= link_to("bid", new_product_bid_path(@product, @bid)) %>
<%= link_to("edit", edit_product_path(@product)) %>
<%= link_to("delete", product_path(current_user_id, @product), method: :delete, data: {confirm: 'Are you sure?'}) %>
<br>
<%= link_to("back", products_path) %>
